$bg: #ECF7F3;
$white: #FFFFFF;
$logo: #2D2D2D;
$text: #4A4A4A;
$orange: #FF8345;
$gray: #7C7C7C;
$placeholder: #A1A1A1;
$light-gray: #707070;
$light-orange: #FD905A;
$green: #48B774;
$green-hov: #2a9253;
$red-orange: #FB9B69;
$input: #838383;
$border: #E8E8E8;
$invalid: #e6a4a4;